<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>
<body>
    <h1>Welcome to text Analyzer</h1>
    <form action='/analyze' method='GET'>
            <textarea name="text" id="text"  style='margin: 0px; width: 780px; height: 100px;'></textarea>
            <br>
            <input type="checkbox" name="removepunc" id="">Remove Punctuations<br>
            <input type="checkbox" name="fullcaps" id="">UPPER CASE<br>
            <input type="checkbox" name="spaceremover" id="">spaceremover <br>
            <button type="submit">Analyze text</button>
        
        
        
    </form>
</body>
</html>